/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 :root {
  --primary: #009cde ;
  --secondary: #fb0;
}
body {
  color: #000;
  line-height: 1.15;
}

li {
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
}

p {
  padding-top:5px!important;
  padding-bottom:5px!important;
}

.white-text {
  color: #FFF!important;
}
h3 {
  padding-bottom: 20px;
}
h5 {
  color: #000;
}
.nav-new {
  background-color: var(--primary);
}
.bg-image {
  background: url(../images/hero-city-night.png);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.hide {
  display: none;
}

.show {
  display: block;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.font-date {
  font-size: 12px;
}

.brewery-info {
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.75);
  margin-top: 30px;
  font-weight: bold;
  padding-left: 10px;
}

.american {
  background-image: url(../images/american.jpg);
}

.asian {
  background-image: url(../images/asian.jpg);
}

.burgers {
  background-image: url(../images/burgers.jpg);
}

.irish {
  background-image: url(../images/irish.jpg);
}

.italian {
  background-image: url(../images/italian.jpg);
}

.japanese {
  background-image: url(../images/japanese.jpg);
}

.mexican {
  background-image: url(../images/mexican.jpg);
}

.sandwiches {
  background-image: url(../images/sandwich.jpg);
}

.steak {
  background-image: url(../images/steak.jpg);
}

.dining-generic {
  background-image: url(../images/dining-generic.jpg);
}


@media screen and (max-width:575px) {
  .brew-list {
    width: 300px;
  }

}